/* common shared styles*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
/* nav releted styles*/
nav{
    display: flex;  
    justify-content: space-between;   
    align-items: center;
    padding: 50px 225px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747 ;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color:#FFF ;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px ;
}
/* header releted styles */
.header{
    background-color: #FFF8F3; ;
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
}
.banner-title{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    padding: 180px 1000px 5px 0px;
}
.dawonload-icon{
    padding-right: 10px;
    margin-left: 0;
    
}
.icon{
    display: flex;
    padding-top: 20px;

}
.dawonload-btn{
    margin-right: 50px;
}