/* common shared styles*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
main{
    max-width: 1150px;
    margin: 0 auto;
}

/* nav releted styles*/
nav{
    display: flex;  
    justify-content: space-between;   
    align-items: center;
    padding: 50px 225px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747 ;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color:#FFF ;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px ;
}
/* header releted styles */
.header{
    background-color: #FFF8F3; ;
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
}
.banner-title{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    padding: 180px 1000px 5px 0px;
}
.dawonload-icon{
    padding-right: 10px;
    margin-left: 0;
    
}
.icon{
    display: flex;
    padding-top: 20px;

}
.dawonload-btn{
    margin-right: 50px;
}
/* main section styles */

/* about section styles */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
}
.info-description{
    color: #474747;
    font-size: 20px;
}
/* what i do section styles */
#section-info{
    margin: 30px 90px; 
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
img{
    padding: 30px 0 0 30px;
}
.skill-title{
    padding-left: 30px;
    color: #181818;
    font-size: 20px;
    line-height: normal;
}
.skill-description{
    padding: 0 30px 30px 30px;
    color: #757575;
    font-size: 16px;
    width: 201px;
}